    {{>header}}
    {{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
        </div>

        <div class="col-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum minima, perspiciatis vitae eveniet repudiandae impedit atque distinctio similique, dolorum incidunt dignissimos sed ab consequuntur officiis accusamus explicabo excepturi pariatur quidem.</p>
        </div>
    </div>
   
    {{>footer}}
      

      



